<div class="container-fluid">
  {{partial "navbar"}}
  <h2>Ember Simple Auth Sandbox</h2>
  <p>
    This project provides me with a place to experiment with <a href="http://ember-simple-auth.com/">Ember Simple Auth</a> , in particular those aspects of it which are not covered by the <a href="https://ember-simple-auth.now.sh/">demo</a> supplied with it (the <a href="https://github.com/simplabs/ember-simple-auth/tree/master/tests/dummy">source for which is here</a>)
  </p>.
  {{outlet}}
</div>

